.font-lora {
    font-family: 'Lora', serif;
}

.font-jetbrains {
    font-family: 'JetBrains Mono', monospace;
}

.font-14{
    font-size: 14px;
}

.font-15{
    font-size: 15px;
}

.font-20{
    font-size: 20px;
}

.font-color {
    color: #3C3C3C;
}

.height-default{
    height: 690px;
}

.background-light{
    background-color: #F5F5F5;
}

.row-landing {
    height: 566px;
}

.row-content {
    height: 604px;
}

.footer{
    background-color: #141414;
}

#home{
    overflow: hidden;
}

#bg-project{
    background-image: url(../img/anime_web_design.jpg);
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center;
    opacity: 0;
}

.img-project{
    width: 500px;
    position: absolute;
    z-index: 0;
}

.text-project{
    padding-left: 200px;
    position: absolute;
    z-index: 1;
    top: 200px;
}

.content-3{
    position: relative;
}

.link-contact:hover{
    color: black;
}

@media screen and (max-width: 885px) and (min-width: 768px) {
    .img-project{
        right: 50px;
    }
    
    .text-project{
        left: -100px;
    }
}

@media screen and (max-width: 750px) {
    .img-project{
        position: static;
        width: 300px;
        margin-top: 50px;
    }
    
    .text-project{
        position: static;
        padding-left: 0px;
        text-align: center;
        margin-top: 100px;
    }

    .row-content {
        height: auto;
    }

    #about {
        margin-top: 100px;
    }

    #bg-project{
        background-size: 1500px; 
    }
}
